<h1>Add new Car</h1>
<form action="/carsAdded" method="post">
  <label for="makeModel">Add a new task</label>
  <input type="text" id="makeModel" name="Make_model">
  <label for="price">Add a new task</label>
  <input type="text" id="price" name="Price">
  <label for="mileage">Add a new task</label>
  <input type="text" id="mileage" name="Mileage">
</form>
