<h1>Add new Car</h1>
<form action="/cars_added" method="post">
  <label for="makeModel">Type of car you want</label>
  <input type="text" id="makeModel" name="Make_model">
  <label for="price">Add price</label>
  <input type="text" id="price" name="Price">
  <label for="mileage">How many miles to do want</label>
  <input type="text" id="mileage" name="Mileage">
  <button type="submit">Submit</button>
</form>
