<h1>Car list:</h1>
<ul>
  @foreach(var auto in Model){
    <li>@auto.GetMakeModel()</li>
    <li>@auto.GetPrice()</li>
    <li>@auto.GetMileage()</li>
 </ul>
  }
</ul>
<p><a href="/">Add another car</a></p>
